:root {
  --blue-primary: #3258e8;
  --blue-secondary: rgba(50, 88, 232, 0.1);
  --black-primary: #232631;
  --black-secondary: #7b7b7b;
  --black-other: #9c9c9c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black-primary);
}

nav {
  padding: 24px 0;
}

header,
section {
  margin-bottom: 120px;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  font-weight: 400;
}

#header-text {
  margin-top: -104px;
  padding: 40px;
}
#header-text .header-title {
  font-size: 52px;
  font-weight: 700;
}
#header-text .header-subtitle {
  color: var(--black-secondary);
  width: 75%;
}

#header-img #header-img-object {
  border-radius: 24px;
  width: 100%;
  height: 620px;
  background-image: url(../assets/header-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#search {
  position: relative;
  padding: 40px;
  margin-top: -280px;
  z-index: 2;
}

#btn-search-1 {
  border-radius: 12px 0 0 0;
  font-size: 18px;
}

#btn-search-2 {
  margin-left: -6px;
  border-radius: 0 12px 0 0;
  color: var(--blue-primary);
  font-size: 18px;
  background-color: #fff;
  box-shadow: inset 0px -2px 4px #f4f4f4;
}

#flight-content,
#hotel-content {
  background-color: #fff;
  box-shadow: 0px 25px 54px #efefef;
  border-radius: 0 12px 12px 12px;
  padding: 28px;
}
#flight-content .d-block,
#hotel-content .d-block {
  margin-left: 16px;
}
#flight-content .d-block .search-subtitle,
#hotel-content .d-block .search-subtitle {
  color: var(--black-secondary);
}

#service .card {
  padding: 60px;
}
#service .card #service-title {
  max-width: 24%;
  padding-right: 48px;
}
#service .card #service-content #service-content-1,
#service .card #service-content #service-content-2 {
  margin-bottom: 60px;
}
#service .card #service-content .service-subtitle {
  color: var(--black-secondary);
}
#service .card #service-content .row .col {
  min-width: 40%;
}
#service .card .col .d-block {
  margin-left: 30px;
}

#packages input.image-select[type=checkbox] {
  display: none;
}
#packages input.image-select[type=checkbox] + label {
  display: flex;
  justify-content: center;
  width: 90%;
  transition: 0.3s;
}
#packages input.image-select[type=checkbox]:checked + label {
  border: solid 4px var(--blue-primary);
  border-radius: 24px;
  padding-top: 3%;
  padding-bottom: 3%;
  transform: scale(90%);
}
#packages label img {
  width: 90%;
  border-radius: 24px;
}
#packages #packages-title .section-title {
  margin-bottom: 12px;
}
#packages #packages-title .section-paragraph {
  margin-bottom: 30px;
}
#packages #packages-title .packages-detail-title {
  font-weight: 600;
  font-size: 20px;
}
#packages #packages-title .packages-detail-subtitle {
  color: var(--black-secondary);
}
#packages #packages-title #packages-detail {
  margin-bottom: 30px;
}

#destinations #destinations-text {
  margin-bottom: 60px;
}
#destinations #destinations-content .row {
  margin-bottom: 30px;
}
#destinations #destinations-content .row .col {
  margin-bottom: 30px;
}
#destinations .card {
  background-color: #fff;
  box-shadow: 0px 14px 25px #f2f2f2;
  padding: 0;
}
#destinations .card .destination-img {
  border-radius: 24px;
  width: 100%;
}
#destinations .card .destination-text {
  padding: 16px;
}
#destinations .card .destination-title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 16px;
}
#destinations .card .destination-subtitle {
  margin-bottom: 16px;
}
#destinations .card .destination-subtitle,
#destinations .card .destination-price {
  color: var(--black-secondary);
}
#destinations .card .destination-price b {
  color: var(--black-primary);
}

.navbar-brand {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  color: var(--blue-primary);
}
.navbar-brand img {
  height: 100%;
  width: auto;
}

.navbar-collapse {
  display: flex;
  text-align: center;
}

.navbar-nav {
  list-style: none;
}
.navbar-nav .nav-item {
  float: left;
}
.navbar-nav .nav-item a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 0 12px;
  color: var(--black-other);
}
.navbar-nav .nav-item .active {
  font-weight: 500;
  color: var(--blue-primary);
}

.navbar-cta {
  display: flex;
}

.search-title {
  font-weight: 500;
  font-size: 18px;
}

.service-title {
  font-weight: 600;
  font-size: 20px;
}

.align-items-center {
  align-items: center;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--blue-primary);
  color: #fff;
}

.btn-secondary {
  background-color: var(--blue-secondary);
  color: var(--blue-primary);
}

.btn-other {
  background-color: #fff;
  color: var(--black-secondary);
}

.border-rounded-other {
  border-radius: 52px;
  border: 1.5px solid var(--black-other);
}

.card {
  background-color: #fafafa;
  border-radius: 24px;
}

.col {
  flex: 1 0 0%;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
  align-items: center;
}

.float-right {
  float: right;
}

.justify-content-space-between {
  justify-content: space-between;
}

.mb-5 {
  margin-bottom: 5%;
}

.me-auto {
  margin-right: auto;
}

.ms-auto {
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4%;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.section-subtitle {
  font-weight: 600;
  font-size: 16px;
  color: var(--blue-primary);
}

.section-title {
  font-weight: 600;
  font-size: 36px;
}

.section-paragraph {
  color: var(--black-secondary);
  line-height: 30px;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}/*# sourceMappingURL=main.css.map */