:root {
  --blue-primary: #3258e8;
  --blue-secondary: rgba(50, 88, 232, 0.1);
  --black-primary: #232631;
  --black-secondary: #7b7b7b;
  --black-other: #9c9c9c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black-primary);
}

nav {
  padding: 24px 0;
}
nav .navbar-brand {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  color: var(--blue-primary);
}
nav .navbar-brand img {
  height: 100%;
  width: auto;
}
nav .navbar-collapse {
  display: flex;
  text-align: center;
}
nav .navbar-nav {
  list-style: none;
}
nav .navbar-nav .nav-item {
  float: left;
}
nav .navbar-nav .nav-item .nav-link {
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 0 12px;
  color: var(--black-other);
}
nav .navbar-nav .nav-item .nav-link:hover {
  color: var(--black-secondary);
}
nav .navbar-nav .nav-item .nav-link.active {
  font-weight: 500;
  color: var(--blue-primary);
}
nav .navbar-cta {
  display: flex;
}
nav #navbar-check {
  display: none;
}
nav .navbar-toggler {
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header,
section {
  margin-bottom: 120px;
}

header #header-text {
  margin-top: -104px;
  padding: 40px;
}
header #header-text .header-title {
  font-size: 52px;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 12px;
}
header #header-text .header-subtitle {
  color: var(--black-secondary);
  width: 75%;
}
header #header-img #header-img-object {
  border-radius: 24px;
  width: 100%;
  height: 620px;
  background-image: url(../assets/header-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: var(--black-primary);
  background-image: url(../assets/footer-logo.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  color: #fff;
  padding: 100px;
}
footer ul {
  list-style: none;
}
footer .row {
  align-items: flex-start;
}
footer .col {
  align-items: flex-start;
}
footer .footer-brand {
  flex-grow: 2;
}
footer .footer-brand a {
  display: flex;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  margin-bottom: 12px;
}
footer .footer-brand a img {
  height: 100%;
  margin-right: 8px;
}
footer .footer-link-title {
  font-weight: 500;
  margin-bottom: 16px;
}
footer .footer-link {
  margin-bottom: 14px;
}
footer .footer-link a {
  color: var(--black-secondary);
}
footer .footer-logo {
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  font-weight: 400;
}

#search {
  position: relative;
  padding: 40px;
  margin-top: -280px;
  z-index: 2;
}
#search #btn-search-1 {
  border-radius: 12px 0 0 0;
  font-size: 18px;
}
#search #btn-search-2 {
  margin-left: -6px;
  border-radius: 0 12px 0 0;
  color: var(--blue-primary);
  font-size: 18px;
  background-color: #fff;
  box-shadow: inset 0px -2px 4px #f4f4f4;
}
#search #flight-content,
#search #hotel-content {
  background-color: #fff;
  box-shadow: 0px 25px 54px #efefef;
  border-radius: 0 0 12px 12px;
  padding: 28px;
}
#search #flight-content .d-block,
#search #hotel-content .d-block {
  margin-left: 16px;
}
#search #flight-content .d-block .search-title,
#search #hotel-content .d-block .search-title {
  font-weight: 500;
  font-size: 18px;
}
#search #flight-content .d-block .search-subtitle,
#search #hotel-content .d-block .search-subtitle {
  color: var(--black-secondary);
}

#service .card {
  padding: 60px;
}
#service .card #service-title {
  max-width: 24%;
  padding-right: 48px;
}
#service .card #service-content #service-content-1,
#service .card #service-content #service-content-2 {
  margin-bottom: 60px;
}
#service .card #service-content img {
  width: 64px;
}
#service .card #service-content .service-title {
  font-weight: 600;
  font-size: 20px;
}
#service .card #service-content .service-subtitle {
  color: var(--black-secondary);
}
#service .card #service-content .row .col {
  min-width: 40%;
}
#service .card .col .d-block {
  margin-left: 30px;
}

#packages input.image-select[type=checkbox] {
  display: none;
}
#packages input.image-select[type=checkbox] + label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 90%;
  transition: 300ms;
}
#packages input.image-select[type=checkbox] + label:hover {
  transform: scale(110%);
}
#packages input.image-select[type=checkbox]:checked + label {
  border: solid 4px var(--blue-primary);
  border-radius: 24px;
  padding-top: 3%;
  padding-bottom: 3%;
  transform: scale(90%);
}
#packages label img {
  width: 90%;
  border-radius: 24px;
}
#packages #packages-title .section-title {
  margin-bottom: 12px;
}
#packages #packages-title .section-paragraph {
  margin-bottom: 30px;
}
#packages #packages-title .packages-detail-title {
  font-weight: 600;
  font-size: 20px;
}
#packages #packages-title .packages-detail-subtitle {
  color: var(--black-secondary);
}
#packages #packages-title #packages-detail {
  margin-bottom: 30px;
}

#destinations #destinations-text {
  margin-bottom: 60px;
}
#destinations #destinations-content .row {
  margin-bottom: 30px;
}
#destinations #destinations-content .row .col {
  margin-bottom: 30px;
  min-width: 230px;
}
#destinations .card {
  background-color: #fff;
  box-shadow: 0px 14px 25px #f2f2f2;
  padding: 0;
}
#destinations .card .destination-img {
  border-radius: 24px;
  width: 100%;
}
#destinations .card .destination-text {
  padding: 16px;
}
#destinations .card .destination-title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 16px;
}
#destinations .card .destination-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
#destinations .card .destination-subtitle img {
  height: 100%;
  margin-right: 6px;
}
#destinations .card .destination-subtitle,
#destinations .card .destination-price {
  color: var(--black-secondary);
}
#destinations .card .destination-price b {
  color: var(--black-primary);
}

#cta #cta-card {
  background-color: var(--blue-secondary);
  background-image: url(../assets/world.png);
  background-repeat: no-repeat;
  padding: 75px;
}
#cta #cta-card .section-title {
  margin-bottom: 12px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#cta #cta-card .section-paragraph {
  margin-bottom: 30px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
#cta #love .card {
  border-radius: 52px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  float: right;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.13);
  transform: translate(45%, -45%);
}
#cta #love .card img {
  transform: rotate(14deg);
}
#cta #testimonial .card {
  width: 20%;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 14px 25px #f2f2f2;
  transform: translate(50px, -90%);
}
#cta #testimonial .card .testimonial-text {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 30px;
}
#cta #testimonial .card .testimonial-img {
  margin-right: 12px;
}
#cta #testimonial .card .testimonial-name {
  font-weight: 500;
  font-size: 16px;
}
#cta #testimonial .card .testimonial-job {
  font-size: 14px;
}

.align-items-center {
  align-items: center;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.btn:hover {
  filter: contrast(110%);
}

.btn-primary {
  background-color: var(--blue-primary);
  color: #fff;
}

.btn-secondary {
  background-color: var(--blue-secondary);
  color: var(--blue-primary);
}

.btn-other {
  background-color: #fff;
  color: var(--black-secondary);
}

.border-rounded-other {
  border-radius: 52px;
  border: 1.5px solid var(--black-other);
}

.card {
  background-color: #fafafa;
  border-radius: 24px;
}

.col {
  flex: 1 0 0%;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
  align-items: center;
}

.float-right {
  float: right;
}

.justify-content-space-between {
  justify-content: space-between;
}

.mb-5 {
  margin-bottom: 5%;
}

.me-auto {
  margin-right: auto;
}

.ms-auto {
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4%;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.section-subtitle {
  font-weight: 600;
  font-size: 16px;
  color: var(--blue-primary);
}

.section-title {
  font-weight: 600;
  font-size: 36px;
}

.section-paragraph {
  color: var(--black-secondary);
  line-height: 30px;
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media (max-width: 1399.98px) {
  header {
    padding-top: 24px;
  }
  header #header-text {
    margin-top: -176px;
  }
  header #header-text .header-subtitle {
    width: 90%;
  }
  header #header-img #header-img-object {
    height: 600px;
  }
  #search #flight-content .d-block .search-subtitle,
#search #hotel-content .d-block .search-subtitle {
    font-size: 14px;
  }
  #service .card #service-title {
    max-width: 26%;
  }
}
@media (max-width: 1199.98px) {
  nav .navbar-brand {
    font-size: 18px;
  }
  nav .navbar-nav .nav-item .nav-link {
    font-size: 16px;
  }
  header {
    padding-top: 36px;
  }
  header #header-text .header-title {
    font-size: 44px;
    line-height: 56px;
  }
  header #header-text .header-subtitle {
    width: 100%;
  }
  footer .col {
    min-width: 20%;
  }
  p {
    font-size: 14px;
  }
  #search {
    margin-top: -306px;
  }
  #search #flight-content .d-block .search-title,
#search #hotel-content .d-block .search-title {
    font-size: 16px;
  }
  #service .card #service-title {
    max-width: 22%;
  }
  #service .card #service-content img {
    width: 52px;
  }
  #packages #packages-title .section-title {
    margin-bottom: 8px;
  }
  #packages #packages-title .section-paragraph {
    width: 80%;
  }
  #destinations #destinations-text .section-title {
    margin-bottom: 8px;
  }
  #cta #love .card {
    padding: 12px;
    transform: translate(25%, -25%);
  }
  #cta #love .card img {
    width: 48px;
  }
  .btn {
    font-size: 14px;
  }
  .container {
    padding-left: 4%;
    padding-right: 4%;
  }
  .section-subtitle {
    font-size: 16px;
  }
  .section-title {
    font-size: 28px;
  }
  .section-paragraph {
    line-height: 24px;
  }
}
@media (max-width: 991.98px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: #fff;
  }
  nav .navbar-brand {
    font-size: 24px;
  }
  nav .navbar-collapse {
    display: none;
  }
  nav .navbar-toggler {
    display: flex;
    align-items: center;
  }
  nav .navbar-toggler img {
    height: 52px;
  }
  header,
section {
    margin-bottom: 208px;
  }
  header {
    padding-top: 184px;
    text-align: center;
  }
  header .col {
    min-width: 100%;
  }
  header #header-text {
    margin-top: 0;
    padding: 0;
  }
  header #header-text .header-title {
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    margin-bottom: 24px;
  }
  header #header-text .header-subtitle {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
  header #header-img #header-img-object {
    height: 360px;
    background-position: center;
  }
  section {
    text-align: center;
  }
  footer {
    margin-top: -184px;
    padding: 92px 48px 0 48px;
  }
  footer .col {
    min-width: 48%;
    margin-bottom: 48px;
  }
  footer .footer-brand {
    flex-grow: 1;
  }
  footer .footer-link {
    margin-bottom: 8px;
  }
  p {
    font-size: 16px;
  }
  #search {
    padding: 20%;
    margin-top: -420px;
    margin-bottom: -184px;
    z-index: 2;
  }
  #search #btn-search-1 {
    border-radius: 24px 0 0 0;
    justify-content: center;
    width: 50%;
  }
  #search #btn-search-2 {
    margin-left: -6px;
    border-radius: 0 24px 0 0;
    justify-content: center;
    width: 50%;
  }
  #search #flight-content .col,
#search #hotel-content .col {
    display: flex;
    justify-content: flex-start;
  }
  #search #flight-content .d-block .search-subtitle,
#search #hotel-content .d-block .search-subtitle {
    margin-bottom: 24px;
  }
  #search #flight-content .btn,
#search #hotel-content .btn {
    margin-top: 12px;
    width: 100%;
  }
  #service #service-title {
    max-width: 100%;
    margin-bottom: 48px;
  }
  #service #service-content {
    text-align: left;
  }
  #service #service-content #service-content-1,
#service #service-content #service-content-2 {
    margin-bottom: 60px;
  }
  #packages .col.d-inline-flex {
    margin-bottom: 48px;
  }
  #packages input.image-select[type=checkbox]:checked + label {
    padding-top: 4%;
    padding-bottom: 4%;
  }
  #packages label img {
    width: 85%;
  }
  #packages #packages-title .section-title {
    margin-bottom: 12px;
  }
  #packages #packages-title .section-paragraph {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  #packages #packages-title #packages-detail {
    margin-bottom: 36px;
  }
  #packages #packages-title #packages-detail .col {
    margin-bottom: 24px;
  }
  #packages #packages-title .d-inline-flex {
    display: block;
  }
  #packages #packages-title .d-inline-flex .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  #packages #packages-title .d-inline-flex .btn-primary {
    margin-bottom: 12px;
  }
  #destinations #destinations-text {
    margin-bottom: 48px;
  }
  #destinations #destinations-content .row .col {
    min-width: 48%;
  }
  #destinations .card {
    border-radius: 24px;
  }
  #destinations .card .destination-img {
    border-radius: 24px;
    width: 100%;
  }
  #destinations .card .destination-text {
    padding: 16px;
  }
  #destinations .card .destination-title {
    font-size: 24px;
  }
  #destinations .card .destination-subtitle {
    font-size: 18px;
    justify-content: center;
    margin-bottom: 36px;
  }
  #destinations .card .destination-price {
    font-size: 18px;
  }
  #cta #cta-card {
    border-radius: 24px;
    padding: 75px;
  }
  #cta #cta-card .section-title {
    width: 80%;
  }
  #cta #cta-card .section-paragraph {
    margin-bottom: 48px;
    width: 60%;
  }
  #cta #love .card {
    padding: 12px;
    transform: translate(25%, -25%);
  }
  #cta #love .card img {
    width: 36px;
  }
  #cta #testimonial .card {
    border-radius: 24px;
    width: 25%;
    padding: 24px 16px;
    transform: translate(24px, -70%);
  }
  #cta #testimonial .card .testimonial-text {
    font-size: 14px;
  }
  #cta #testimonial .card .testimonial-img {
    margin-right: 12px;
  }
  #cta #testimonial .card .testimonial-name {
    font-size: 14px;
  }
  #cta #testimonial .card .testimonial-job {
    font-size: 12px;
  }
  .btn {
    gap: 12px;
    padding: 16px 24px;
    font-size: 18px;
  }
  .card {
    background-color: #fff;
    border-radius: 0;
  }
  .col {
    min-width: 100%;
  }
  .container {
    padding-left: 6%;
    padding-right: 6%;
  }
}
@media (max-width: 767.98px) {
  nav {
    padding: 16px 24px;
  }
  nav .navbar-brand {
    font-size: 20px;
  }
  nav .navbar-toggler img {
    height: 42px;
  }
  header,
section {
    margin-bottom: 124px;
  }
  header {
    padding-top: 124px;
  }
  header #header-text .header-title {
    font-size: 52px;
    line-height: 64px;
  }
  header #header-text .header-subtitle {
    width: 84%;
  }
  footer {
    padding: 84px 52px;
  }
  footer .col {
    min-width: 100%;
  }
  footer .footer-link {
    margin-bottom: 14px;
  }
  #search {
    padding: 40px;
    margin-top: -320px;
    margin-bottom: -84px;
  }
  #service {
    margin-bottom: 64px;
  }
  #service .card #service-title {
    max-width: 100%;
  }
  #service .card #service-content .row .col {
    min-width: 100%;
    margin-bottom: 60px;
  }
  #service .card #service-content .row .col .d-block {
    margin-left: 30px;
  }
  #packages #packages-title .packages-detail-title {
    font-size: 24px;
  }
  #packages #packages-title .d-inline-flex .btn {
    width: 80%;
  }
  #destinations #destinations-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #destinations #destinations-content .row {
    margin-bottom: 30px;
  }
  #destinations #destinations-content .row .col {
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 48px;
    min-width: 50%;
  }
  #cta {
    margin-bottom: 0;
  }
  #cta .container {
    padding-left: 0;
    padding-right: 0;
  }
  #cta #cta-card {
    padding: 48px 48px 104px 48px;
    border-radius: 0;
  }
  #cta #cta-card .section-title {
    width: 100%;
    line-height: 48px;
  }
  #cta #cta-card .section-paragraph {
    margin-bottom: 280px;
    width: 70%;
  }
  #cta #love {
    display: none;
  }
  #cta #testimonial {
    margin-bottom: 0;
  }
  #cta #testimonial .card {
    width: 50%;
    margin-top: -48px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, -164%);
  }
  #cta #testimonial .card .testimonial-text {
    font-size: 18px;
  }
  #cta #testimonial .card .testimonial-name {
    font-size: 18px;
  }
  #cta #testimonial .card .testimonial-job {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */